<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 90vh;">
    <div class="col-lg-3">
    </div>

    <div class="col-lg-6 rounded" style="border-style: solid; border-color: orange; padding: 2%;">
      <h2 style="text-align: center; margin-top: 15px;">Sign up</h2> <br>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages" , resource: resource %>

        <div class="mb-3">
          <%= label_tag :email, "Email" , class: "form-label" %>
            <%= f.email_field :email, class: "form-control" , placeholder: "name@example.com" , autofocus: true,
              autocomplete: "email" %>
        </div>

        <div class="mb-3">
          <%= label_tag :password, "Password" , class: "form-label" %>
            <% if @minimum_password_length %>
              <em>
                (<%= @minimum_password_length %> characters minimum)
              </em>
            <% end %><br />

            <div class="input-group">
              <%= f.password_field :password, class: "form-control password-toggle" ,
                placeholder: "Enter your password" , autocomplete: "new-password" %>
                <span class="input-group-text password-toggle-icon">
                  <i class="fas fa-eye"></i>
                </span>
            </div>
        </div>

          <div class="mb-3">
            <%= label_tag :password, "Confirm Password" , class: "form-label" %>
              <div class="input-group">
                <%= f.password_field :password_confirmation, class: "form-control password-toggle" ,
                  placeholder: "Enter your password" , autocomplete: "new-password" %>
                  <span class="input-group-text password-toggle-icon">
                    <i class="fas fa-eye"></i>
                  </span>
              </div>
          </div>

          <div class="d-grid gap-2 mt-4 mb-4">
            <%= f.submit "Sign up" , class: "btn btn-outline-success fw-bold" %>
          </div>
      <% end %>
    </div>

    <div class="col-lg-3">
    </div>
  </div>
</div>