<!DOCTYPE html>
<html>
  <head>
    <title>Linkedin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <style>
    body {
      margin: 0;
      padding: 0.3%;
      align-items: center;
      min-height: 45vh;
      font-family: 'Jost', sans-serif;
      background: #302b63;
    }

    .btn-outline-orange {
      color: orange;
      border-color: orange;
    }
    .btn-outline-orange:hover {
      background-color: orange;
      color: white;
    }
  </style>

  <body>

    <div>
      <div id="user_nav">
        <% if user_signed_in? %>
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a style='color:blue' class="navbar-brand fw-bold" href="#">Linkedin</a>
              <div class="collapse navbar-collapse container-fluid">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <div class="nav-link active">
                      <%= link_to "Home", posts_path %>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="nav-link active">
                      <%= link_to "Profile", profiles_path %>
                    </div>
                  </li>
                </ul>
                <form class="d-flex position-absolute top-1 end-0" role="search">
                  <div style='margin-left:480px' class="me-2">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  </div>
                  <div>
                    <button class="btn btn-outline-success me-2" type="submit">Search</button>
                  </div>
                  <div class="btn btn-outline-orange" style="margin-right: 12px">
                    <%= link_to 'Sign out', destroy_user_session_path, style: "color: blue;", class: "fw-bold text-decoration-none" %>
                  </div>
                </form>
              </div>
            </div>
          </nav>

        <% else %>
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a style='color:blue' class="navbar-brand fw-bold" href="#">Linkedin</a>
              <div class="collapse navbar-collapse">
                <form class="d-flex position-absolute top-1 end-0" role="search">
                  <div class="btn btn-outline-orange">
                    <%= link_to 'Sign up', new_user_registration_path, style: "color: blue;", class: "fw-bold text-decoration-none" %>
                  </div>
                  <div class="btn btn-outline-orange" style='margin-left:10px; margin-right: 12px'>
                    <%= link_to 'Sign in', new_user_session_path, style: "color: blue;", class: "fw-bold text-decoration-none" %>
                  </div>
                </form>
              </div>
            </div>
          </nav>
        <% end %>
      </div>

      <% if notice %> <p class="alert alert-success"> <%= notice %> </p> <% end %>

      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
          </svg>
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <div style="color: white;">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
